/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/img/users/*.jpg
/public/img/users/*.png
/public/img/products/*.png
/public/img/products/*.jpg